html{
  width: 1920px;
  height: 1080px;
}
body {
  position: relative;
  width: 1920px;
  height: 1080px;

  background: #F1F7F1;
}
.sprint-navbar{
  position: absolute;
  width: 270px;
  height: 1080px;
  left: -1px;
  top: 0;

  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
}





